.bg-primary {
  background-color: #3740ff !important;
}

.bg-secondary {
  background-color: #7c7d8c !important;
}

.lesson-progress-bar-container {
  max-width: 720px;
  margin: auto;
  height: 5px;
}

.lesson-progress-bar {
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
}
