.instruction-viewer-container .monaco-editor .margin {
  background-color: var(--white) !important;
}

.instruction-viewer-container {
  height: 550px;
  overflow-y: scroll;
  overflow-x: auto;
  padding-top: 10px;
  padding-right: 10px;
  border: 1px solid var(--gray300);
  border-left: none;
}

div.instruction-viewer-container::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

div.instruction-viewer-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

div.instruction-viewer-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.instruction-code-block {
  margin-bottom: 1rem;
}
