@value colors: "../../assets/colors/colors.css";
@value --white, gray500 ,gray700, blue500, blue700, yellow500, red500, red700 from colors;

.type-primary {
  background-color: blue500;
  color: --white;
}

.type-primary:hover,
.type-primary:active,
.type-primary:focus {
  background-color: blue700;
  color: --white;
}

.type-primary.disabled,
.type-primary:disabled {
  background-color: blue500;
  cursor: not-allowed;
}

.type-secondary {
  border-color: gray500 !important;
  color: gray500;
  background-color: transparent;
}

.type-secondary:hover,
.type-secondary:active {
  border-color: gray500 !important;
  color: --white;
  background-color: gray500;
}

.type-secondary.disabled,
.type-secondary:disabled {
  color: gray500;
  cursor: not-allowed;
  background-color: transparent;
}

.type-tertiary {
  color: gray500;
  background-color: transparent;
}

.type-tertiary:hover,
.type-tertiary:active,
.type-tertiary:focus {
  color: gray700;
  background-color: transparent;
}

.type-tertiary.disabled,
.type-tertiary:disabled {
  color: gray500;
  cursor: not-allowed;
}

.type-warning {
  border-color: yellow500 !important;
  color: yellow500;
  background-color: transparent;
}

.type-warning:hover,
.type-warning:active {
  background-color: yellow500;
  color: --white;
}

.type-warning.disabled,
.type-warning:disabled {
  background-color: --white;
  color: yellow500;
  cursor: not-allowed;
}

.type-danger {
  background-color: red500;
  color: --white;
}

.type-danger:hover,
.type-danger:active,
.type-danger:focus {
  background-color: red700;
  color: --white;
}

.type-danger.disabled,
.type-danger:disabled {
  background-color: red500;
  cursor: not-allowed;
  color: --white;
}
