@value colors: "../../assets/colors/colors.css";
@value --white, gray500 ,gray700, blue500, blue700, yellow500, red500, red700 from colors;

.btn-primary {
  background-color: blue500 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: blue700 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: blue500 !important;
}

.btn-outline-secondary {
  border-color: gray500 !important;
  color: gray500 !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  border-color: gray500 !important;
  color: --white !important;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  border-color: gray500 !important;
  color: gray500 !important;
}

.btn-tertiary {
  color: gray500 !important;
  background-color: transparent !important;
}

.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary:focus {
  color: gray700 !important;
  background-color: transparent !important;
}

.btn-tertiary.disabled,
.btn-tertiary:disabled {
  color: gray500 !important;
}

.btn-outline-warning {
  border-color: yellow500 !important;
  color: yellow500 !important;
}

.btn-outline-warning:hover,
.btn-outline-warning:active {
  border-color: yellow500 !important;
  color: --white !important;
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: yellow500 !important;
  border-color: yellow500 !important;
}

.btn-danger {
  background-color: red500 !important;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: red700 !important;
}

.btn-danger.disabled,
.btn-danger:disabled {
  background-color: red500 !important;
}
