@value --white: #ffffff;
@value --black: #131520;
@value gray100: #F9F9FD;
@value gray200: #E9E9F4;
@value gray300: #C5C5D3;
@value gray400: #A0A1B2;
@value gray500: #7C7D8C;
@value gray600: #585968;
@value gray700: #343546;
@value gray800: #242536;
@value blue100: #D9DDFE;
@value blue200: #AAAFEF;
@value blue300: #7B82E1;
@value blue400: #4C54D2;
@value blue500: #392DD1;
@value blue600: #2D23A7;
@value blue700: #21197D;
@value blue800: #383f6e;
@value green100: #D3F2E2;
@value green200: #96DFBA;
@value green300: #58CD92;
@value green400: #1BBA6A;
@value green500: #148E50;
@value green600: #0D6137;
@value green700: #06351D;
@value green800: #0D2521;
@value red100: #F5ACB8;
@value red200: #F18295;
@value red300: #EC5871;
@value red400: #E72F4E;
@value red500: #E2052A;
@value red600: #BE032D;
@value red700: #99022F;
@value red800: #750032;
@value yellow100: #F9EBD0;
@value yellow200: #F5DBA2;
@value yellow300: #F1CB74;
@value yellow400: #EDBB46;
@value yellow500: #E9AB18;
@value yellow600: #D19200;
@value yellow700: #9D6E00;
@value yellow800: #694900;
