@value colors: "../../assets/colors/colors.css";
@value blue500, blue700 from colors;

.cheat-sheet-table {
  overflow-x: scroll;
  word-break: keep-all;
}

.cheat-sheet-table .table th {
  font-size: 12px;
}

.cheat-sheet-table .table tbody th a {
  text-decoration: underline;
  color: blue500;
}

.cheat-sheet-table .table tbody th a:hover {
  color: blue700;
}

.cheat-sheet-table .table td {
  font-size: 12px;
}

.cheat-sheet-table .wide {
  min-width: 350px;
}
