@value colors: "../../assets/colors/colors.css";
@value blue500, blue700 from colors;

.cheat-sheet-table {
  overflow-x: scroll;
  word-break: keep-all;
  transform: rotateX(180deg);
}

.cheat-sheet-table .table {
  transform: rotateX(180deg);
}

.cheat-sheet-table .table th {
  font-size: 12px;
}

.cheat-sheet-table .table tbody th a {
  text-decoration: underline;
  color: blue500;
}

.cheat-sheet-table .table tbody th a:hover {
  color: blue700;
}

.cheat-sheet-table .table td {
  font-size: 12px;
}

.cheat-sheet-table .wide {
  min-width: 350px;
}

div.cheat-sheet-table::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  transform: rotateX(180deg);
}

div.cheat-sheet-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

div.cheat-sheet-table::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}
