.code-diff-container {
  margin: 15px 0 0 40px;
}

/* Hide the answer code by default */
.code-diff-container .view-line {
  display: none;
}

/* Reveals the answer code */
.code-diff-container .show-answer .view-line {
  display: block;
}

/* Show hint which highlights line to be deleted */
.code-diff-container .monaco-diff-editor .line-delete .view-line {
  display: block !important;
}

/* Remove green highlight in the insert line */
.code-diff-container .monaco-diff-editor .line-insert,
.code-diff-container .monaco-diff-editor .char-insert {
  background-color: rgba(255, 255, 255, 100) !important;
}

.monaco-editor .view-overlays .current-line {
  border: none !important;
}

.code-diff-border {
  border: 1px solid #eaeaea;
}

.code-diff-border-active {
  border: 1px solid #e2051a !important;
}
